body, html {
    background-color: rgb(249, 249, 249);
}

.title-box {
  background-color: #bc6868;
  padding: 20px;
  text-align: center;
}

.title-box h1 {
  margin: 0;
}

.boxh {
  width: 50%; 
  float: left;
  margin-bottom: 20px;
}

/* Container for the two columns */
.content {
  display: flex;
  justify-content: center; /* Horizontally centers the columns */
  align-items: center; /* Vertically centers the columns */
}

/* Left column */
.left-column {
  flex: 1;
  margin-right: 20px;
}

/* Right column */
.right-column {
  flex: 1;
}

.generate-button {
  background-color: darkred;
  color: white;
  margin-bottom: 20px;
  width: 215px;
  font-size: 18px
}

.load-button {
  background-color: rgb(4, 49, 229);
  color: white;
  margin-bottom: 20px;
  width: 215px;
  font-size: 18px
}

.solver-button {
  background-color: rgb(191, 164, 14);
  color: white;
  margin-bottom: 20px;
  width: 215px;
  font-size: 18px
}

.reset-button {
  background-color: rgb(47, 112, 0);
  color: white;
  margin-bottom: 20px;
  width: 215px;
  font-size: 18px
}

.warning {
  color: rgb(215, 50, 50);
}

.hidden {
  display: none;
}

/* Heading styles */
h1 {
  font-size: 24px;
  color: #333;
}

h2 {
  font-size: 18px;
  color: #666;
  margin-top: 20px;
}

/* Map section */
#map {
  height: 1000px;
  width: 100%;
  margin-bottom: 20px;
}

/* Problem Definition section */
input[type="number"] {
  width: 200px;
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}
