body, html {
    background-color: rgb(249,249,249);
}

.title-box {
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(#6899bc, #433ac9);
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.boxh {
  width: 50%; 
  float: left;
  margin-bottom: 20px;
}

/* Container for the three columns */
.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

/* Left column */
.column {
  padding: 20px;
}

.blue-button {
  background-color: #3970ab;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  margin: 10px;
}


.small-blue-button {
  background-color: #3970ab;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  margin: 2px;
}

.blue-button:hover, .small-blue-button:hover, .custom-dropdown:hover {
  background-color: #0056b3;
}

.warning {
  color: rgb(215, 50, 50);
}

.hidden {
  display: none;
}

/* Heading styles */
h1 {
  font-size: 20px;
}

h2 {
  font-size: 18px;
  color: #666;
  margin-top: 20px;
}

/* Map section */
#map {
  height: 1000px;
  width: 100%;
  margin-bottom: 20px;
}

/* Problem Definition section */
input[type="number"] {
  width: 200px;
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}

.custom-dropdown {
  background-color: #3970ab;
  color: #fff; 
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
}