{% extends 'base.html' %}

{% block head %}
<title>VRP Web App</title>
<style>
    #map {
        height: 500px;
        width: 100%;
    }
</style>
{% endblock %}


{% block body %}
<div class="title-box">
    <h1>VRP Google Maps</h1>
</div>
<div class="content">
    <div class="column">
        <div class="boxh">
            <h2>Addresses</h2>
            <form onsubmit="handleAddress(event);">
                <input type="text" name="address" id="address">
                <input type="submit" class="small-blue-button" value="Add Address">
            </form>
        </div>

        <div class="boxh">
            <h2>Depot Coordinates</h2>
            <form onsubmit="handleAddress(event, depot = true);">
                <input type="text" name="depot" id="depot">
                <input type="submit" class="small-blue-button" value="Set depot">
            </form>
        </div>

        <h2>Map</h2>
        <div id="map"></div>
    </div>

    <div class="column">
        <h2>Problem Definition</h2>
        <form onsubmit="generateRoutes(event);">
            <label for="n_vehicles">Number of Vehicles:</label>
            <input type="number" id="n_vehicles" name="n_vehicles">
            <span id="n_vehicles-warning" class="warning hidden">Please enter a valid number of vehicles</span>

            <label for="max_flight_time">Max Time per Vehicle [minutes]:</label>
            <input type="number" id="max_flight_time" name="max_flight_time">
            <span id="max_flight_time-warning" class="warning hidden">Please enter a valid maximun time</span>

            <label for="capacity">Max Capacity per Vehicle:</label>
            <input type="number" id="capacity" name="capacity">
            <span id="capacity-warning" class="warning hidden">Please enter a valid maximun capacity</span>

            <label for="velocity">Vehicle Velocity [km/h]:</label>
            <input type="number" id="velocity" name="velocity">
            <span id="velocity-warning" class="warning hidden">Please enter a valid vehicle velocity</span>
            <br>
            <br>
            <button class="blue-button">Generate Routes</button>
        </form>
        <button class="blue-button" onclick="loadProblemDefiniton(event)">Load Problem Definition from File</button>
        <br>
        <button class="blue-button" onclick="loadSolverConfiguration(event)">Load Solver Configuration</button>
        <br>
        <button class="blue-button" onclick="reset(event)">Reset</button>
        <br>
    </div>
    <div class="column">
        <button class="blue-button" onclick="saveRoutes(event)">Save Routes</button>
        <br>
        <button class="blue-button" onclick="saveNodes(event)">Saves Nodes</button>
        <br>
        <h2>Travel mode</h2>
        <select class="custom-dropdown" name="dropdown" id="travelmode" onchange="saveTravelMode(event)">
            <option value="flight">Flight</option>
            <option value="driving">Driving</option>
            <option value="walking">Walking</option>
            <option value="bicycling">Bycycling</option>
            <option value="transit">Transit</option>
        </select>
    </div>
</div>

<script>
    var map; // Map
    var markers = []; // Markers
    var infoWindow; // Info of the markers
    function getMap(coordinates = null) {
        if (coordinates == null) {
            var coordinates = {{ coordinates| tojson }};
        }
        var mapOptions = {
            center: { lat: coordinates[0][0], lng: coordinates[0][1] },
            zoom: 12
        };
        // Create the map
        map = new google.maps.Map(document.getElementById('map'), mapOptions);

        // Info window to share between markers
        infoWindow = new google.maps.InfoWindow();

        // Add markers to the the map
        for (let i = 0; i < coordinates.length; i++) {
            if (i === 0) {
                if (coordinates[i]) {
                    addMarker(coordinates[i], i, "blue");
                }
            } else {
                addMarker(coordinates[i], i, "red");
            }
        }

        // Listener to add a marker when the map is clicked
        google.maps.event.addListener(map, "click", (event) => {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/handle-address", true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

            // Create the data to send with the request (if needed)
            var address = [event.latLng.lat(), event.latLng.lng()];

            // Send the address as the request body
            xhr.send("address=" + encodeURIComponent(address) + "&depot=" + encodeURIComponent(false));

            // Handle the response
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        var response = JSON.parse(xhr.responseText);
                        if (response.success) {
                            console.log("Address registered successfully");
                            // Draw the marker
                            addMarker(response.coordinates, response.index);
                        } else {
                            // Failed to convert address
                            console.error("Failed to convert address:", response.message);
                        }
                    } else {
                        // Failed communication with the server
                        console.error("Failed to execute frontend action:", xhr.status);
                    }
                }
            };
        });

    }
    // Adds a marker to the map
    function addMarker(coordinates, index, color = "red") {
        let svgMarker = { // Style of the marker
            path: "M-1.547 12l6.563-6.609-1.406-1.406-5.156 5.203-2.063-2.109-1.406 1.406zM0 0q2.906 0 4.945 2.039t2.039 4.945q0 1.453-0.727 3.328t-1.758 3.516-2.039 3.070-1.711 2.273l-0.75 0.797q-0.281-0.328-0.75-0.867t-1.688-2.156-2.133-3.141-1.664-3.445-0.75-3.375q0-2.906 2.039-4.945t4.945-2.039z",
            fillColor: color,
            fillOpacity: 1,
            strokeWeight: 0,
            rotation: 0,
            scale: 2,
            anchor: new google.maps.Point(0, 20),
        };
        if (index === 0 && markers.length !== 0) {
            markers[index].setMap(null);
        }
        if (index < markers.length && index != 0) {
            console.log("Marker already added");
            return 0;
        }
        var marker = new google.maps.Marker({
            position: { lat: coordinates[0], lng: coordinates[1] },
            map,
            title: index.toString(),
            label: index.toString(),
            icon: svgMarker
        });
        if (index === 0) {
            markers.splice(index, 1, marker);
        } else {
            markers.splice(index, 0, marker);
        }

        // The content of each marker
        marker.addListener("mouseover", () => {
            infoWindow.close();
            var link = document.createElement("deleteLink");
            link.href = "#";
            link.textContent = "Delete";
            link.style.color = "blue"
            link.addEventListener("click", function () {
                deleteMarker(parseInt(marker.getTitle()))
            });
            var container = document.createElement("div");
            var text = document.createElement("p");
            text.textContent = "LAT: " + coordinates[0].toFixed(2).toString() + " LNG: " + coordinates[1].toFixed(2).toString();
            container.appendChild(text);
            container.appendChild(link);
            infoWindow.setContent(container);
            infoWindow.open(marker.getMap(), marker);
        });
    }
    // Deletes a marker from the map
    function deleteMarker(index, coordinates = null) {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/delete-address", true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    if (response.success) {
                        console.log("Address deleted successfully");
                        markers[index].setMap(null);
                        if (index !== 0) {
                            markers = [markers[0]];
                            getMap(response.coordinates); // To reorder the indexes
                        }
                    } else {
                        // Failed to convert address
                        console.error("Failed to convert address:", response.message);
                    }
                } else {
                    // Failed communication with the server
                    console.error("Failed to delete address:", xhr.status);
                }
            }
        };
        // Send the index as the request body
        xhr.send("index=" + encodeURIComponent(index));
    }
    // To handle the address and depot boxes
    function handleAddress(event, depot = false) {
        event.preventDefault();
        // Get the address value from the input field
        if (depot) {
            var addressInput = document.getElementById('depot');
            var color = "blue"
        } else {
            var addressInput = document.getElementById('address');
            var color = "red"
        }
        var address = addressInput.value;
        addAddress(address, color, depot);
        // Clear the input field
        addressInput.value = '';
    }
    // To register an addres both in front and back ends 
    function addAddress(address, color, depot = false) {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/handle-address", true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    if (response.success) {
                        // Draw the marker
                        if (response.index == 0 || response.index == markers.length) {
                            console.log("NEW DIRECTION!")
                            addMarker(response.coordinates, response.index, color);
                        } else {
                            console.log("ALREADY REGISTERED!")
                        }
                    } else {
                        // Failed to convert address
                        console.error("Failed to convert address:", response.message);
                    }
                } else {
                    console.error("Failed to register address:", xhr.status);
                }
            }
        };

        // Send the address as the request body
        xhr.send("address=" + encodeURIComponent(address) + "&depot=" + encodeURIComponent(depot));

    }
</script>
<script
    src = "https://maps.googleapis.com/maps/api/js?key={{ apiKey }}&callback=getMap" async defer>
</script>
<script>
    var paths = []; // Routes
    // Load the problem definition from the yaml file and represent it in the frontend
    function loadProblemDefiniton(event, file = "cfg/problem_definition.yaml") {
        event.preventDefault();
        var check_list = ["n_vehicles", "max_flight_time", "capacity", "velocity"];
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/load-problem", true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    if (response.success) {
                        console.log("Probem definition properly loaded");
                        for (let i = 0; i < check_list.length; i++) {
                            document.getElementById(check_list[i]).value = response.problem_data[check_list[i]];
                        }
                        // addAddress(response.problem_data["addresses"][0], "blue", depot = true);
                        addMarker(response.problem_data["coord_inds"][0][0], response.problem_data["coord_inds"][0][1], "blue")
                        for (let i = 1; i < response.problem_data["addresses"].length; i++) {
                            addMarker(response.problem_data["coord_inds"][i][0], response.problem_data["coord_inds"][i][1], "red")
                        }
                    } else {
                        // Some error in the definition of the problem
                        console.error(response.message);
                    }
                } else {
                    // Error when communicating with the server
                    console.error("Failed communicate with server:", xhr.status);
                }
            }
        };
        // Send the file as the request body
        xhr.send("file=" + encodeURIComponent(file));
    }
    // Load the solver configuration defined in the yaml file
    function loadSolverConfiguration(event, file = "cfg/solver_configuration.yaml") {
        event.preventDefault();
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/load-solver", true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    if (response.success) {
                        console.log("Solver parameters successfully registered");
                    } else {
                        console.error("Solver parameters no valid, check the configuration file: " + file, response.message);
                    }
                } else {
                    console.error("Failed to communicate with the server:", xhr.status);
                }
            }
        };
        // Send the file as the request body
        xhr.send("file=" + encodeURIComponent(file));
    }
    // Load the solver configuration defined in the yaml file
    function saveTravelMode(event) {
        event.preventDefault();
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/travel-mode", true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    if (response.success) {
                        console.log("Travel mode successfully stored");
                    } else {
                        console.error("Travel mode not valid: " + file, response.message);
                    }
                } else {
                    console.error("Failed to communicate with the server:", xhr.status);
                }
            }
        };
        // Send the file as the request body
        xhr.send("travelmode=" + encodeURIComponent(document.getElementById("travelmode").value));
    }
    function generateRoutes(event) {
        event.preventDefault();
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/create-routes", true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        var check_list = ["n_vehicles", "max_flight_time", "capacity", "velocity"]
        // Check for any invalid value
        for (let i = 0; i < check_list.length; i++) {
            if (warning(check_list[i], check_list[i] + "-warning")) {
                return false
            }
        }
        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    if (response.success) {
                        let routes = response.routes;
                        drawRoutes(routes);
                        console.log("Route generation successful");
                    } else {
                        console.error("Route generation failed:", response.message);
                    }
                } else {
                    console.error("Failed to communicate with the server:", xhr.status);
                }
            }
        };

        // Send the parameters
        url = ""
        for (let i = 0; i < check_list.length - 1; i++) {
            url += check_list[i] + "=" + encodeURIComponent(document.getElementById(check_list[i]).value) + "&";
        }
        url += check_list[check_list.length - 1] + "=" + encodeURIComponent(document.getElementById(check_list[check_list.length - 1]).value);
        xhr.send(url);
    }
    // Function to draw the routes
    function drawRoutes(routes_info) {
        var routes = routes_info["routes"];
        Object.entries(routes).forEach(([v_number, v_route]) => {
            let coordinates = v_route.coordinates;
            var flightPlanCoordinates = [];
            for (var coordinate of coordinates) {
                flightPlanCoordinates.push({lat: coordinate[0], lng: coordinate[1]})
            }
            paths.push(new google.maps.Polyline({
                path: flightPlanCoordinates,
                geodesic: true,
                strokeColor: v_route.color,
                strokeOpacity: 1.0,
                strokeWeight: 5,
            }));
            paths[v_number].setMap(map);
        });

    }
    // Function to check the values of the problem
    function warning(name, warning, min_value = 0) {
        var element = document.getElementById(name);
        var elementWarning = document.getElementById(warning);
        if (element.value.trim() === '' || isNaN(parseInt(element.value.trim())) || parseInt(element.value.trim()) <= min_value) {
            elementWarning.classList.remove('hidden');
            event.preventDefault();
            return true;
        } else {
            elementWarning.classList.add('hidden');
            return false;
        }
    }
    // Function to reset the problem information
    function reset(event) {
        event.preventDefault();
        var check_list = ["n_vehicles", "max_flight_time", "capacity", "velocity"];
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/reset", true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    // Reset parameters
                    for (let i = 0; i < check_list.length; i++) {
                        document.getElementById(check_list[i]).value = 0;
                    }
                    // Delete markers
                    for (let i = 0; i < markers.length; i++) {
                        markers[i].setMap(null);
                    }
                    markers = [markers[0]];
                    // Delete routes
                    for (let i = 0; i < paths.length; i++) {
                        paths[i].setMap(null);
                    }
                    paths = [];
                    console.log("Reset done.")
                } else {
                    console.error("Failed to reset:", xhr.status);
                }
            }
        };
        xhr.send();
    }
    // Function to save the nodes
    function saveNodes(event) {
        event.preventDefault();
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/save-nodes", true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    console.log("Nodes saved")
                } else {
                    console.error("Failed to save:", xhr.status);
                }
            }
        };
        xhr.send();
    }
    // Function to save the routes
    function saveRoutes(event) {
        event.preventDefault();
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/save-routes", true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    console.log("Routes saved")
                } else {
                    console.error("Failed to save:", xhr.status);
                }
            }
        };
        xhr.send();
    }
</script>

{% endblock %}